/* src/components/MainContent/01/Section01Content.module.css */
/* 01ページ 固有のスタイル */

/* ページ基本レイアウト */
.section01Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section01Top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px 0px;
  gap: 30px;
  width: 100%;
  max-width: 540px;
  position: relative;
  isolation: isolate;
  min-height: 150px;
}

.section01Middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px 0px;
  gap: 30px;
  position: relative;
  width: 540px;
  min-height: 700px;
}


/* ▼ 01ページ固有の「玉のずれ」 ▼ */
.colorNavi {
  position: absolute;
  width: 22.71px;
  height: 92.11px;
  left: -20px;
  top: -32px;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.colorBar {
  position: absolute;
  width: 55.96%;
  height: 13.78%;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.colorBar:nth-child(1) {
  /* 1番目を左に寄せる */
  left: 0%;
  right: 44.08%;
  top: 2.17%;
  bottom: 84.04%;
}

.colorBar:nth-child(2) {
  /* 2番目を右にずらす */
  left: 44.03%;
  right: 0.04%;
  top: 18.46%;
  bottom: 67.76%;
}

.colorBar:nth-child(3) {
  left: 0%;
  right: 44.08%;
  top: 34.74%;
  bottom: 51.47%;
}

.colorBar:nth-child(4) {
  left: 0%;
  right: 44.08%;
  top: 51.03%;
  bottom: 35.19%;
}

.colorBar:nth-child(5) {
  left: 0%;
  right: 44.08%;
  top: 67.31%;
  bottom: 18.9%;
}

.colorBar:nth-child(6) {
  left: 0%;
  right: 44.08%;
  top: 83.6%;
  bottom: 2.62%;
}
/* ▲ 01ページ固有の「玉のずれ」 ▲ */


/* レスポンシブ対応 */
@media (max-width: 768px) {
  .section01Top,
  .section01Middle {
    width: 100%;
    padding: 40px 20px 0px;
  }
}