# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# GAS test files and documentation
gas/test*.gs
gas/*Test*.gs
gas/debug*.gs
gas/quick*.gs
gas/TEST_*.md
gas/ADMIN_*.md

# Unnecessary documentation files
GAS_SETUP.md
SEARCH_FEATURE.md
OAUTH_SETUP.md
ADMIN_AUTH_SETUP.md
