/* section_03_copy */

/* オートレイアウト */
display: flex;
flex-direction: column;
align-items: center;
padding: 60px 20px 40px;
gap: 30px;

position: relative;
width: 540px;
max-width: 540px;
height: 1075.02px;

background: #FFFFFF;


/* space10 */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 0px 20px;

display: none;
width: 480px;
height: 10px;


/* オートレイアウト内部 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* H1 00 */

/* オートレイアウト */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 15px;

width: 500px;
height: 129.02px;


/* オートレイアウト内部 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1 */

/* オートレイアウト */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 97.15px;
height: 35.02px;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* _レイヤー_1 */

width: 97.15px;
height: 35.02px;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 90.49%;
top: 55.2%;
bottom: 10.02%;

background: #000000;


/* Vector */

position: absolute;
left: 10.17%;
right: 77.47%;
top: 55%;
bottom: 9.74%;

background: #000000;


/* Vector */

position: absolute;
left: 23.07%;
right: 64.75%;
top: 55.28%;
bottom: 10.05%;

background: #000000;


/* Vector */

position: absolute;
left: 36.31%;
right: 53.09%;
top: 55.23%;
bottom: 9.91%;

background: #000000;


/* Vector */

position: absolute;
left: 54.14%;
right: 22.95%;
top: 5.71%;
bottom: 0.43%;

background: #000000;


/* Vector */

position: absolute;
left: 76.47%;
right: -0.02%;
top: 0.09%;
bottom: -0.03%;

background: #000000;


/* まだまだある！ みんなの居場所 */

width: 175px;
height: 54px;

/* h2_見出し */
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 35px;
/* または140% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;


/* dotline 1 */

width: 364.5px;
height: 10px;

background: url(dotline.png);

/* オートレイアウト内部 */
flex: none;
order: 2;
flex-grow: 0;


/* Group 2 */

width: 500px;
height: 323px;


/* オートレイアウト内部 */
flex: none;
order: 2;
flex-grow: 0;


/* 体験談タイトル */

/* オートレイアウト */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 2px 0px;
gap: 8px;

position: absolute;
width: 500px;
height: 33px;
left: 20px;
top: 219.02px;



/* 平日・休日参加できるところ */

width: 156px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* こどもの居場所 */

width: 112px;
height: 12px;

/* h3_見出し

h3
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 32px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;


/* ツイートエリア */

/* オートレイアウト */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 500px;
height: 278px;
left: 20px;
top: 264.02px;



/* place */

box-sizing: border-box;

/* オートレイアウト */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 240px;
max-width: 240px;
height: 278px;

border-radius: 10px;

/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* AdobeStock_422894352_Preview */

width: 240px;
height: 200px;

background: url(AdobeStock_422894352_Preview.jpg);
border-radius: 10px;

/* オートレイアウト内部 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* タグエリア */

/* オートレイアウト */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 0px;
gap: 5px;

width: 240px;
height: 35px;


/* オートレイアウト内部 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* #高校生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;


/* #小学生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 2;
flex-grow: 0;


/* #中学生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 105px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 3;
flex-grow: 0;


/* #フリースクール */

width: 93px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 1 */

width: 240px;
height: 0px;

border: 2px dashed #000000;

/* オートレイアウト内部 */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* コドモノイバショ */

width: 122px;
max-width: 240px;
height: 11px;

/* p/ツイート文

ツイート本文
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
/* または129% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
letter-spacing: 0.1em;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 3;
flex-grow: 0;


/* Vector 2 */

width: 240px;
height: 0px;

border: 2px dashed #000000;

/* オートレイアウト内部 */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* place */

box-sizing: border-box;

/* オートレイアウト */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 240px;
max-width: 240px;
height: 278px;

border-radius: 10px;

/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;


/* AdobeStock_422894352_Preview */

width: 240px;
height: 200px;

background: url(AdobeStock_422894352_Preview.jpg);
border-radius: 10px;

/* オートレイアウト内部 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* タグエリア */

/* オートレイアウト */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 0px;
gap: 5px;

width: 240px;
height: 35px;


/* オートレイアウト内部 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* #高校生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;


/* #小学生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 2;
flex-grow: 0;


/* #中学生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 105px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 3;
flex-grow: 0;


/* #フリースクール */

width: 93px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 1 */

width: 240px;
height: 0px;

border: 2px dashed #000000;

/* オートレイアウト内部 */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* コドモノイバショ */

width: 122px;
max-width: 240px;
height: 11px;

/* p/ツイート文

ツイート本文
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
/* または129% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
letter-spacing: 0.1em;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 3;
flex-grow: 0;


/* Vector 2 */

width: 240px;
height: 0px;

border: 2px dashed #000000;

/* オートレイアウト内部 */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* btn_project */

box-sizing: border-box;

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 212px;
height: 40px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 5px;

/* オートレイアウト内部 */
flex: none;
order: 3;
flex-grow: 0;


/* ic:round-play-arrow */

width: 24px;
height: 24px;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 33.33%;
right: 24.39%;
top: 24.25%;
bottom: 24.24%;

background: #000000;


/* こどもの居場所をもっと見る */

width: 156px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;


/* Group 3 */

width: 500px;
height: 323px;


/* オートレイアウト内部 */
flex: none;
order: 4;
flex-grow: 0;


/* 体験談タイトル */

/* オートレイアウト */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 2px 0px;
gap: 8px;

position: absolute;
width: 500px;
height: 33px;
left: 20px;
top: 642.02px;



/* 悩みや解決策など、みんなで話してみよう！ */

width: 240px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* 保護者の居場所 */

width: 112px;
height: 12px;

/* h3_見出し

h3
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 32px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;


/* ツイートエリア */

/* オートレイアウト */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 500px;
height: 278px;
left: 20px;
top: 687.02px;



/* place */

box-sizing: border-box;

/* オートレイアウト */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 240px;
max-width: 240px;
height: 278px;

border-radius: 10px;

/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* AdobeStock_422894352_Preview */

width: 240px;
height: 200px;

background: url(AdobeStock_422894352_Preview.jpg);
border-radius: 10px;

/* オートレイアウト内部 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* タグエリア */

/* オートレイアウト */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 0px;
gap: 5px;

width: 240px;
height: 35px;


/* オートレイアウト内部 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* #高校生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;


/* #小学生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 2;
flex-grow: 0;


/* #中学生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 105px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 3;
flex-grow: 0;


/* #フリースクール */

width: 93px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 1 */

width: 240px;
height: 0px;

border: 2px dashed #000000;

/* オートレイアウト内部 */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* コドモノイバショ */

width: 122px;
max-width: 240px;
height: 11px;

/* p/ツイート文

ツイート本文
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
/* または129% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
letter-spacing: 0.1em;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 3;
flex-grow: 0;


/* Vector 2 */

width: 240px;
height: 0px;

border: 2px dashed #000000;

/* オートレイアウト内部 */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* place */

box-sizing: border-box;

/* オートレイアウト */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 240px;
max-width: 240px;
height: 278px;

border-radius: 10px;

/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;


/* AdobeStock_422894352_Preview */

width: 240px;
height: 200px;

background: url(AdobeStock_422894352_Preview.jpg);
border-radius: 10px;

/* オートレイアウト内部 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* タグエリア */

/* オートレイアウト */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 0px;
gap: 5px;

width: 240px;
height: 35px;


/* オートレイアウト内部 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* #高校生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;


/* #小学生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 57px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 2;
flex-grow: 0;


/* #中学生 */

width: 45px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* tag */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 6px;
gap: 10px;

width: 105px;
height: 15px;

background: #FDF9D5;

/* オートレイアウト内部 */
flex: none;
order: 3;
flex-grow: 0;


/* #フリースクール */

width: 93px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 1 */

width: 240px;
height: 0px;

border: 2px dashed #000000;

/* オートレイアウト内部 */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* コドモノイバショ */

width: 122px;
max-width: 240px;
height: 11px;

/* p/ツイート文

ツイート本文
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
/* または129% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
letter-spacing: 0.1em;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 3;
flex-grow: 0;


/* Vector 2 */

width: 240px;
height: 0px;

border: 2px dashed #000000;

/* オートレイアウト内部 */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* btn_project */

box-sizing: border-box;

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 212px;
height: 40px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 5px;

/* オートレイアウト内部 */
flex: none;
order: 5;
flex-grow: 0;


/* ic:round-play-arrow */

width: 24px;
height: 24px;


/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 33.33%;
right: 24.39%;
top: 24.25%;
bottom: 24.24%;

background: #000000;


/* 保護者の居場所をもっと見る */

width: 156px;
height: 9px;

/* tag

ハッシュタグ
*/
font-family: 'DNP ShueiGoKinStd';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* または125% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: #000000;


/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;
