/* ==================== 
   リセットCSS
==================== */

/* リセットCSS */
* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-zen);
    font-weight: 400;
    color: var(--color-black);
    line-height: 1.6;
    background-color: var(--bg-main);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}