.contentFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 20px;
  gap: 15px;
  width: 100%;
  max-width: 500px;
  background: var(--color-white);
  border-radius: 10px;
}

.contentTitle {
  width: 100%;
  max-width: 288px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: -5px;
}

.contentText {
  width: 100%;
  max-width: 460px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: var(--color-black);
}
