/* バナーエリア */
.bannerArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: var(--space-xl);
  width: 200px; /* 固定幅 */
  height: auto;
  min-height: 270px;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 100;
  position: fixed;
  top: 51px;
  right: 100px; /* 1304px以下のデフォルト */
}

/* 1254px以下で右余白を50pxに */
@media (max-width: 1254px) {
  .bannerArea {
    right: 50px;
  }
}

/* 1253px以下でバナー非表示 */
@media (max-width: 1253px) {
  .bannerArea {
    display: none;
  }
}
